.kitchen_appliance img{
    height: 275px;
}
.home_appliances img{
    height: 200px;
}
.purifiers img{
    height: 300px;
    width: 80%;
    align-self: center;
}
.air_conditioners img{
    height: 175px;
    padding-bottom: 50px;
    padding-top: 60px;
}
